html{
}

body {
    width: max-content;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    background-color: white;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-size: 13px;
    line-height: 14px;
    color: black;
    overflow-y: auto;
    overflow-x: hidden;
    font-family: "MS UI Gothic";
    background-color: oldlace;
    background-image: url(images/splatoon/background.jpg);
    background-size: auto;
    
}

@font-face{
    font-family: "Roboto";
    src: 'fonts/SplatoonFont.otf';
}

banner{
    margin: auto;
    text-align: center;
    border: 2px solid black;
        background-color: antiquewhite;
    font-size: 50px;
    font-family: basiic;
}

.main{
   background-color: aliceblue;
    width: 800px;
    margin-top: 20px;
    padding: 10px;
    border: 2px double black;
    
}

.header{
    background-color: white;
    font-size: 40px;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.subject{
    background-color: white;
    font-size: 30px;
    padding: 20px;
    padding-left: 10px;
    margin: 10px;
}

.content{
    background-color: white;
    font-size: 14px;
    padding: 20px;
    border: 2px double grey;
}

.auregem{
    background-color: darkcyan;
    background-image: url(images/splatoon/asfalt-dark.png);
    font-size: 14px;
    padding: 20px;
    border: 2px double grey;
}.apex{
    background-color: lightcyan;
    background-image: url(images/splatoon/asfalt-dark.png);
    font-size: 14px;
    padding: 20px;
    border: 2px double grey;
}.zombie{
    background-color: pink;
    background-image: url(images/splatoon/asfalt-dark.png);
    font-size: 14px;
    padding: 20px;
    border: 2px double grey;
}.window{
    background-color: yellow;
    background-image: url(images/splatoon/asfalt-dark.png);
    font-size: 14px;
    padding: 20px;
    border: 2px double grey;
}.blaze{
    background-color: darkorange;
    background-image: url(images/splatoon/asfalt-dark.png);
    font-size: 14px;
    padding: 20px;
    border: 2px double grey;
}

.paragraph{
    margin: 15px;
    margin-left: 35px;
    margin-right: 35px;
}

.weapons{
    margin: 15px;
align-content: center;
}

.paragraph2{
    margin: 15px;
    margin-left: 35px;
    margin-right: 35px;
    background-color: aliceblue;
}

.floater{
    position:absolute;
}

.floater-right{
    float:right;
}

.floater-left{
    float:left;
}

h4{
        margin: 0;
    margin-top: 5px;
    margin-bottom: -13px;
    color:white;

}


.radio{
    font-family: monospace;
bottom: 0;
right: 0;
margin: 0px;
padding: 0px;
    background-color: black;
    width: fit-container;
    position: fixed;
    border: 5px outset;
    border-color: lightgray;
    text-align: center;
        overflow-x: hidden;
    overflow-y: hidden;
    z-index: 1;
    height: 70px;
}

.audioplayer{
    width: 210px;
    height: 20px;
        margin-left: 3px;
    margin-right: 3px;
}

.back{
position: fixed;
    top: 0;
    left: 0;
    margin: 5;
    width: fit-content;
    
    padding: 10px;
        border-radius: 0px 0px 20px 0px;
    border: outset lightgrey;
    background-color: white;
}

#grafiti-fragile{
    top:100px;
    right:-300px;
}
#grafiti-hotlantis{
    top:100px;
    left:-250px;
}
#battering-lento{
    top:500px;
    left:-500px;
    z-index: -1;
}
#little-guy{
    top:458px;
    right:-200px;
}

#acht{
    top:680px;
    right:-370px;
    z-index: -1;
    transform: rotate(15deg)
}

#tp1{
    top:1200px;
    left:-510px;
    z-index: -1;
    transform: rotate(-5deg)
}

#tp2{
    top:1050px;
    right:-370px;
    z-index: -1;
}

#clown{
    top:1500px;
    right:-370px;
    z-index: -1;
    transform: rotate(5deg)
}

#excecution{
    top:1850px;
    left:-370px;
    z-index: -1;
    transform: rotate(-10deg)
}

.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 240px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;



